@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

header{
    background: linear-gradient(to right, rgba(248, 113, 134, 0.685),rgb(243, 120, 243));
    margin: 0 auto;
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    height: 90vh;
    background: linear-gradient(to right, rgba(248, 113, 134, 0.685),rgb(243, 120, 243));
}

.container{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.group-opcoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-generator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color-generator h2{
    font-size: 3.4rem;
    font-weight: 300;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px rgb(8, 8, 8);
    letter-spacing: 2px;
}

.result-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px rgb(8, 8, 8);
    letter-spacing: 2px;
}

#titulo{
    font-size: 5.3rem;
    font-weight: 300;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px rgb(8, 8, 8);
    letter-spacing: 2px;
    text-decoration: underline 4px white;
}


.opcoes{
    background-color: rgb(245, 245, 245);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0px 13px;
    border: 1.8px solid rgb(231, 231, 231);
    cursor: pointer;
    transition: 0.5s;
}

.color-generator h2{
    text-align: center;
}


.result-message h2{
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.781);
    text-shadow: 2px 2px rgb(0, 0, 0);
    letter-spacing: 4px;
    margin-top: 24result.innerText = "Got it!";

}


@media (max-width: 925px){
    *{
        font-size: 80%;
    }
    .color-generator h2{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
    .result-message h2{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
    #titulo{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
    .result-group{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }

    .opcoes{
        width: 8rem;
        height: 8rem;
        margin: 0px 13px;
        border: 1.5px solid rgb(231, 231, 231);
      
    }
}

@media (max-width: 635px){
    *{
        font-size: 70%;
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }

    .opcoes{
        width: 7rem;
        height: 7rem;
        margin: 0px 13px;
        border: 1.5px solid rgb(231, 231, 231);
      
    }

    .result-group h2{
        font-size: 1.8rem;
    }
    .color-generator h2{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
    .result-message h2{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
    #titulo{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
    .result-group{
        text-shadow: 1px 1px rgb(0, 0, 0); 
    }
}

@media (max-width: 512px){
    *{
        font-size: 50%;
    }
    

    .opcoes{
        width: 9rem;
        height: 9rem;
        margin: 0px 13px;
        border: 1.5px solid rgb(231, 231, 231);
      
    }
    .group-opcoes{
        display: grid;
        grid-template-columns: 4fr 4fr;
        margin-top: 10px;
        gap: 1rem;

    }

    #option5{
        display: inline-flex;
    }

    .result-group h2{
        font-size: 1.9rem;
        
    }

    .result-message{
        padding-top: 10px;
    }
    .color-generator h2{
        text-shadow: 0px 1px rgb(0, 0, 0); 
    }
    .result-message h2{
        text-shadow: 0px 1px rgb(0, 0, 0); 
    }
    #titulo{
        text-shadow: 0px 1px rgb(0, 0, 0); 
    }
    .result-group{
        text-shadow: 0px 1px rgb(0, 0, 0); 
    }

}